<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852892723561-cnu21ujpo6vkmd3nt6a0eq62jeibpot2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852892723561-cnu21ujpo6vkmd3nt6a0eq62jeibpot2</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ6tCKVoWuOg6S6SDShSfwudYMskDg9AE</string>
	<key>GCM_SENDER_ID</key>
	<string>852892723561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cookie.729</string>
	<key>PROJECT_ID</key>
	<string>ecapp-bfc39</string>
	<key>STORAGE_BUCKET</key>
	<string>ecapp-bfc39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852892723561:ios:158a967fb52c6aed5135f8</string>
</dict>
</plist>