body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    117deg,
    rgb(228, 246, 113) 12%,
    rgba(130, 221, 238, 0.956) 100%
  );
  overflow: hidden;
}

.App {
  text-align: center;
  margin-top: 300px;
  font-size: 45px;
  color: white;
  height: 200px;
}

button {
  padding: 15px 25px;
  font-size: 35px;
  height: 70px;
}

.flex {
  position: relative;
  margin-right: 70px;
}

.addition {
  font-size: 20px;
  position: absolute;
}


input {
  height: 50px;
  width: 150px;
  font-size: 30px;
  padding: 12px 0 4px 0;
}